body {
    display: grid;
    background-color: #1F2937;
    color: #ffffff;
    place-items: center;
    height: 100%;
    padding-top: 60px;
}
.panel {
    padding: 1rem;
    background-color: #374151;
    color: #ffffff;
    border-radius: 0.5rem;
    border-width: 1px;
    border-color: #4B5563;
}
level {
    display: flex;
    align-items: center;
}
h1 {
    margin-right: 1em;
}
.action {
    padding: 0.5rem;
    width: 94%;
}
ul {
    margin-top: 1.5rem;
    border: 1px solid gray;
    list-style: none;
    padding-left: 0px;
}
ul li {
    border: 1px solid #e5e7eb54;
    list-style: none;
    padding: 14px;
}
ul li label {
    padding: 0.5rem;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
ul li input {
    margin-left: 0.75rem;
    cursor: pointer;
}
.close {
    float: right;
    background-color: #e1ecf4;
    border-radius: 3px;
    border: 1px solid #7aa7c7;
    box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #39739d;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15385;
    margin: -5px 0px 0px 10px;
    outline: none;
    padding: 8px .8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
}
.close:hover,
.close:focus {
    background-color: #b3d3ea;
    color: #2c5777;
}
.close:focus {
    box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}
.close:active {
    background-color: #a0c7e4;
    box-shadow: none;
    color: #2c5777;
}
.complete {
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
}
.complete:hover {
    background-color: #F3F4F6;
    text-decoration: none;
    transition-duration: 0.1s;
}
.complete:disabled {
    background-color: #FAFBFC;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
}
.complete:active {
    background-color: #EDEFF2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
}
.complete:focus {
    outline: 1px transparent;
}
.complete:before {
    display: none;
}
.complete:-webkit-details-marker {
    display: none;
}
